[Unit]
Description=My Python Script Service
After=network.target

[Service]
User=palpi
ExecStart=/usr/bin/python /home/palpi/palpi/scripts/pwm_fan_control.py
WorkingDirectory=/home/palpi/palpi/scripts
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target